<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my9z.blog.mapper.ResourceMapper">

    <select id="resourceRespPage" resultType="com.my9z.blog.common.pojo.resp.ResourceResp">
        SELECT id,
        resource_name,
        url,
        modular_name,
        request_method,
        parent_id,
        anonymous,
        modular,
        create_time
        FROM tb_resource
        WHERE modular = 0
        <if test="parentIdList != null and parentIdList.size() > 0">
            AND parent_id IN
            <foreach collection="parentIdList" item="id" separator="," open="(" close=")">#{id}</foreach>
        </if>
        ORDER BY parent_id
    </select>

    <select id="userPermissionList" resultType="com.my9z.blog.common.pojo.entity.auth.ResourceEntity">
        SELECT resource.id,
               resource.resource_name,
               resource.url,
               resource.permission,
               resource.modular_name,
               resource.request_method,
               resource.parent_id,
               resource.anonymous,
               resource.modular,
               resource.create_time
        FROM tb_user_auth user
                 LEFT JOIN tb_role role ON JSON_CONTAINS(user.role_ids, JSON_ARRAY(role.id))
                 LEFT JOIN tb_resource resource ON JSON_CONTAINS(role.resource_ids, JSON_ARRAY(resource.id))
        WHERE user.id = ${userId}
          AND user.disable != 1
          AND role.disable != 1
          AND resource.modular != 1
    </select>

</mapper>
