<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my9z.blog.mapper.RoleMapper">

    <resultMap id="RoleEntityMap" type="com.my9z.blog.common.pojo.entity.auth.RoleEntity">
        <id column="id" property="id"/>
        <result column="role_name" property="roleName"/>
        <result column="role_label" property="roleLabel"/>
        <result column="disable" property="disable"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="menu_ids" property="menuIds"
                typeHandler="com.my9z.blog.config.mptypehandler.LongListToJsonTypeHandler"/>
        <result column="resource_ids" property="resourceIds"
                typeHandler="com.my9z.blog.config.mptypehandler.LongListToJsonTypeHandler"/>
    </resultMap>

    <select id="selectCountMenuId" resultMap="RoleEntityMap">
        SELECT role_name, role_label, menu_ids, resource_ids, disable, create_time, update_time
        FROM tb_role
        WHERE FIND_IN_SET(
                ${menuId},
                TRIM(
                        '['
                        FROM
                        TRIM(']' FROM menu_ids))
            )
          AND disable != 1;
    </select>

    <select id="selectCountResourceId" resultMap="RoleEntityMap">
        SELECT role_name, role_label, menu_ids, resource_ids, disable, create_time, update_time
        FROM tb_role
        WHERE FIND_IN_SET(
                ${resourceId},
                TRIM(
                        '['
                        FROM
                        TRIM(']' FROM resource_ids))
            )
          AND disable != 1;
    </select>

    <resultMap id="RoleRespMap" type="com.my9z.blog.common.pojo.resp.RoleResp">
        <id column="id" property="id"/>
        <result column="role_name" property="roleName"/>
        <result column="role_label" property="roleLabel"/>
        <result column="disable" property="disable"/>
        <result column="create_time" property="createTime"/>
        <result column="menu_ids" property="menuIds"
                typeHandler="com.my9z.blog.config.mptypehandler.LongListToJsonTypeHandler"/>
        <result column="resource_ids" property="resourceIds"
                typeHandler="com.my9z.blog.config.mptypehandler.LongListToJsonTypeHandler"/>
    </resultMap>

    <select id="roleRespPage" resultMap="RoleRespMap">
        SELECT id, role_name, role_label, menu_ids, resource_ids, disable, create_time
        FROM tb_role
        <where>
            <if test="roleName != null ">
                role_name like concat('%',#{roleName},'%')
            </if>
        </where>
    </select>

</mapper>
